---
name: Build
on:
  push:
    branches:
      - master  # forall push/merge in master
  pull_request:
    branches:
      - "**"  # forall submitted Pull Requests

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel
          - macos-latest
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
        ocaml-version:
          - 4.02.x
          - 4.03.x
          - 4.04.x
          - 4.05.x
          - 4.06.x
          - 4.07.x
          - 4.08.x
          - 4.09.x
          - 4.10.x
          - 4.11.x
          - 4.12.x
          - 4.13.x
          - 4.14.x
          - 5.0.x
          - 5.1.x
          - 5.2.x
          - 5.3.x
        exclude:
          - os: macos-latest
            ocaml-version: 4.02.x
          - os: macos-latest
            ocaml-version: 4.03.x
          - os: macos-latest
            ocaml-version: 4.04.x
          - os: macos-latest
            ocaml-version: 4.05.x
          - os: macos-latest
            ocaml-version: 4.06.x
          - os: macos-latest
            ocaml-version: 4.07.x
          - os: macos-latest
            ocaml-version: 4.08.x
          - os: macos-latest
            ocaml-version: 4.09.x
          - os: macos-latest
            ocaml-version: 4.11.x
          - os: windows-latest
            ocaml-version: 4.02.x
          - os: windows-latest
            ocaml-version: 4.03.x
          - os: windows-latest
            ocaml-version: 4.04.x
          - os: windows-latest
            ocaml-version: 4.05.x
          - os: windows-latest
            ocaml-version: 4.06.x
          - os: windows-latest
            ocaml-version: 4.07.x
          - os: windows-latest
            ocaml-version: 4.08.x
          - os: windows-latest
            ocaml-version: 4.09.x
          - os: windows-latest
            ocaml-version: 4.10.x
          - os: windows-latest
            ocaml-version: 4.11.x
          - os: windows-latest
            ocaml-version: 4.12.x

    runs-on: ${{ matrix.os }}

    env:
      # https://github.com/fdopen/uwt/pull/6
      # https://github.com/vbrankov/hdf5-ocaml/pull/29
      # https://github.com/ocaml/opam/issues/6578
      SKIP_BUILD: |
        uwt.0.3.3
        hdf5.0.1.5
        js_of_ocaml-compiler.3.4.0

      OPAMAUTOREMOVE: true
      # https://github.com/ocaml/opam-repository/pull/28057#issuecomment-3031287384
      SKIP_TEST: |
        pa_ppx.0.19

    steps:
      - name: Prepare git
        run: |
          git config --global core.autocrlf false
          git config --global init.defaultBranch master

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup OCaml ${{ matrix.ocaml-version }} with archive
        if: ${{ matrix.ocaml-version == '4.02.x' }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            archive: https://github.com/ocaml/opam-repository-archive.git

      - name: Setup OCaml ${{ matrix.ocaml-version }}
        if: ${{ matrix.ocaml-version != '4.02.x' }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}

      - name: Install dependencies
        run: |
          opam install dune
          opam exec -- dune build cppo.opam cppo_ocamlbuild.opam
          opam install --deps-only .

      - name: List installed packages
        run: opam list

      - name: Build locally
        run: opam exec -- make

      - name: Upload the build artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.os }}-${{ matrix.ocaml-version }}-cppo.exe
          path: _build/default/src/cppo_main.exe
          overwrite: true

      - name: Build, test, and install package
        run: opam install -t .

      - name: Test dependants
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          PACKAGES=$(opam list -a -s -V --color=never --installable --depends-on cppo,cppo_ocamlbuild | \
            awk '{
              if ($0 ~ /^cppo_ocamlbuild\./) next
              line = $0
              dot = match(line, /\./)
              pkg = substr(line, 1, dot - 1)
              seen[pkg] = line
            }
            END {
              for (p in seen) {
                print seen[p]
              }
            }')
          echo "Dependants:" $PACKAGES
          for PACKAGE in $PACKAGES
          do
             echo $SKIP_BUILD | tr ' ' '\n' | grep ^$PACKAGE$ > /dev/null &&
               echo Skip $PACKAGE && continue
             OPAMWITHTEST=true
             echo $SKIP_TEST | tr ' ' '\n' | grep ^$PACKAGE$ > /dev/null &&
                 OPAMWITHTEST=false
             ([ $OPAMWITHTEST == false ] &&
              echo ::group::Build          $PACKAGE) ||
              echo ::group::Build and test $PACKAGE
             DEPS_FAILED=false
             opam install -t --deps-only $PACKAGE || DEPS_FAILED=true
             [ $DEPS_FAILED == false ] && opam install $PACKAGE
             echo ::endgroup::
             [ $DEPS_FAILED == false ] || echo Dependencies broken
          done

      - name: Test dependants on Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          $rawPackages = & opam list -a -s -V --color=never --installable --depends-on cppo,cppo_ocamlbuild
          $packageMap = @{}

          foreach ($line in $rawPackages) {
              if ($line -match '^(.*?)[.]') {
                  $pkg = $matches[1]
                  if ($pkg -ne "cppo_ocamlbuild") {
                    $packageMap[$pkg] = $line
                  }
              }
          }

          $packages = $packageMap.Values
          Write-Host "Dependants: $($packages -join ' ')"

          foreach ($package in $packages) {
              $skipBuildList = $env:SKIP_BUILD -split ' '
              if ($skipBuildList -contains $package) {
                  Write-Host "Skip $package"
                  continue
              }

              $opamWithTest = $true
              $skipTestList = $env:SKIP_TEST -split ' '
              if ($skipTestList -contains $package) {
                  $opamWithTest = $false
              }

              if (-not $opamWithTest) {
                  Write-Host "::group::Build          $package"
              } else {
                  Write-Host "::group::Build and test $package"
              }

              $depsFailed = $false
              try {
                  & opam install --deps-only $package
              } catch {
                  $depsFailed = $true
              }

              if (-not $depsFailed) {
                  & opam install $package
              } else {
                  Write-Host "Dependencies broken"
              }

              Write-Host "::endgroup::"
          }

